body {
  /*background-color: gold;*/
  margin: 0;
}
footer {
  background-color: black;
  height: 110px;
  color: white;
  margin-top: 81px;
  background-color: black;
    height: 110px;
    color: white;
    margin-top: -75px;
    display: flex;
    align-items: flex-end;
}

p{
  bottom: -120px;
}

h3{
  margin: 10px -1px 12px 28px;

}

.pfooter{
  font-size: small;
}

.imgarticle {
  width: 81%;
  height: 331px;
  padding: 15px;
  box-shadow: 4px 4px 6px #888;
  margin-left: 62px;
  background-color: #fceac4;
  margin-top: 38px;
  background: linear-gradient(124deg, #f2ae1c, #fceac4);
  border-radius: 11px;
  border: 4px solid #c5842099;




}
.liarticle {
  background-color: #f2ae1c;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin-right: 15%; */
  margin-left: 85px;
  /* margin-bottom: 47px; */
  /* margin-top: 47px; */
  /* padding: 20px; */
  text-align: center;
  position: relative;
  top: 436px;
  width: 532px;
 

  border-radius: 11px;
  height: 60px;
  background: linear-gradient(124deg, transparent, transparent);
  font-size: 15px;
}

header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: bisque;
  position: fixed;
  z-index: 1;
  width: 100%;

}
a {
  text-decoration: none;
  color: #000000a3
}


.sidebar {
  width: 25%;
  height: 390px; 
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
margin-bottom: 3px;
  background-color: rgb(255, 115, 0);
  left: 70%;
  font-family:monospace;
  color: #238729;
}



.main {
  width: 60%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #238729;
}

.main,
.sidebar {

  border-radius: 10px;
  border: 3px solid gainsboro;
  padding: 15px;
  height: 304px;
 top: 171px;
  background-color: rgb(231 236 237);
  margin-right: 19px;
  background: linear-gradient(124deg, #f5f5f863, #9E9E9E);
  margin-bottom: 10px;
  margin-top: -62px;
  box-shadow: 4px 4px 6px #888;

}

.articles {
  background-color: #f2ae1c42;
  height: 100%;
  width: 60%;
  margin-left: 39px;
  font-family: fantasy;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  box-shadow:4px 4px 6px #888;

}

.wrapper{
  width: 100%;
  display: flex;
  grid-template-columns: 2, 1fr;
  grid-template-columns: (2, 1fr);
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
    top: -173px;

}



ul {
  list-style: none;
  padding: 0px 0px 0px 0px;

  width: 70%;

}


nav {
  color: black;
  background-color: #f2ae1c;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  font-family: fantasy;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.menuUL {
  display: flex;
  /* gap: 43px; */
  height: 100%;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  width: 100%;
}
.logoPB {
  display: flex;
  width: 100%;
  padding: 0px 0px 0px 0px;
  height: 100%;
}


.sectionhome {
    /*background-color: goldenrod;*/
    height: 390px;
}

h2{
  color: #f2ae1c;
  margin: 0;
  position: relative;
  text-align: center;
  font-size: 60px;
  margin-top: 10%;
  border-style: dashed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 17px;
}
p{

 
  text-align: center;
  font-size: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.articleCompact{
  font-size: 2px;
}

.homepix {

  width: 100%;
  padding: 0;
  height: 294px;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
    
}

.bloctexthome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

/* ///////////////////////////////////////////////FIN DE LA PAGE ACCUEIL /////////////////////////////////////////*/


.playimg{
  height: 100%;
  width: 100%;
  border-radius: 30px;}


.pitch{
    background-color: #238729;
    width: 590px;
    height: 380px;
    position: relative;
}
.pitch:after{
  content: "";
  border-left: 1px solid white;
  position: absolute;
  top :20px;
  left :295px;
  display:block;
  height:340px;
}

.pitch:before{
  content: "";
  border: 1px solid white;
  position: absolute;
  top :20px;
  left :20px;
  display:block;
  width: 550px;
  height:340px;
}

.center-circle{
    position: absolute;
    top: 145px;
    left: 250px;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}
.center-circle:after{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 1px;
    height: 1px;
    background-color:white;
    content:"";
    border:1px solid white;
}

.penalty-area{
    position: absolute;
    height: 140px;
    width: 80px;
    top: 120px;
    border: 1px solid white;
}

.left .penalty-area{
    left: 20px;
    border-left: 0;
}

.right .penalty-area{
    right: 19px;
    border-right: 0;
}

.penalty-area:before{
    position: absolute;
    height: 70px;
    width: 35px;
    top: 35px;
    border: 1px solid white;
    content:"";
}
.left .penalty-area:before{
   left:0px;
  border-left:0;
}
.right .penalty-area:before{
   right:0px;
  border-right:0;
}

.penalty-area:after{
    position: absolute;
    height: 2px;
    width: 2px;
    top: 70px;
    background-color:white;
    content:"";
}
.left .penalty-area:after{
    right:15px;
}
.right .penalty-area:after{
    left:15px;
}

.player{
  position:absolute;
  border-radius:50%;
  width:10px;
  height:10px;
}
.player:after{
  font-size:10px;
  position:absolute;
  left:3px;
}
.home-team .player{
  background:red;
}
.home-team .player.one{
  top:162px;
  left:20px;
  height: 50px;
  width: 50px;
}
.home-team .player.one:after{
  content:"Lev Yacine";
  color: white;
  top: 20px;
  font-size: 12px;
  text-align: center;
  pointer-events: none;
}
.home-team .player.two{
  top:303px;
  left:80px;
  height: 50px;
  width: 50px;
}
.home-team .player.two:after{
  content: "Cafu";
  color: white;
  font-size: 12px;
  top: 32px;
  left: 11px;
  pointer-events: none;

}
.home-team .player.three{
  top: 31px;
  left: 80px;
  height: 50px;
  width: 50px;
}
.home-team .player.three:after{
  content: "Maldini";
  top: 31px;
  color: white;
  font-size: 12px;
  left: 6px;
}

.home-team .player.four{
  top: 128px;
  left:80px;
}
.home-team .player.four:after{
  content:"4";
}
.home-team .player.five{
  top:225px;
  left:80px;
}
.home-team .player.five:after{
  content:"5";
}
.home-team .player.six{
  top:310px;
  left:160px;
}
.home-team .player.six:after{
  content:"6";
}
.home-team .player.seven{
  top:60px;
  left:160px;
}
.home-team .player.seven:after{
  content:"7";
}
.home-team .player.eight{
  top:145px;
  left:160px;
}
.home-team .player.eight:after{
  content:"8";
}
.home-team .player.nine{
  top:225px;
  left:160px;
}
.home-team .player.nine:after{
  content:"9";
}
.home-team .player.ten{
  top:145px;
  left:240px;
}
.home-team .player.ten:after{
  content:"10";
  left:0px;
}
.home-team .player.eleven{
  top:225px;
  left:240px;
}
.home-team .player.eleven:after{
  content:"11";
  left:0px;
}
.visitor-team .player{
  background:blue;
}
.visitor-team .player:after{
  color:white;
}
.visitor-team .player.one{
  top:190px;
  right:20px;
  background:cyan;
}
.visitor-team .player.one:after{
  content:"1";
  color:red;
}
.visitor-team .player.two{
  top:310px;
  right:80px;
}
.visitor-team .player.two:after{
  content:"2";
}
.visitor-team .player.three{
  top:60px;
  right:80px;
}
.visitor-team .player.three:after{
  content:"Cafu";
  right: 10px;
}
.visitor-team .player.four{
  top:145px;
  right:80px;
}
.visitor-team .player.four:after{
  content:"4";
}
.visitor-team .player.five{
  top:225px;
  right:80px;
}
.visitor-team .player.five:after{
  content:"5";
}
.visitor-team .player.six{
  top:310px;
  right:160px;
}
.visitor-team .player.six:after{
  content:"6";
}
.visitor-team .player.seven{
  top:60px;
  right:160px;
}
.visitor-team .player.seven:after{
  content:"7";
}
.visitor-team .player.eight{
  top:145px;
  right:160px;
}
.visitor-team .player.eight:after{
  content:"8";
}
.visitor-team .player.nine{
  top:225px;
  right:160px;
}
.visitor-team .player.nine:after{
  content:"9";
}
.visitor-team .player.ten{
  top:145px;
  right:240px;
}
.visitor-team .player.ten:after{
  content:"10";
  left:0px;
}
.visitor-team .player.eleven{
  top:225px;
  right:240px;
}
.visitor-team .player.eleven:after{
  content:"11";
  left:0px;
}
.player{
  animation-duration:5s;
  animation-timing-function:linear;
  animation-delay:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
}
.home-team .player.nine{
  animation-name:nine;
}
@keyframes nine
{
0%   {left:160px; top:225px;}
25%  {left:200px; top:265px;}
50%  {left:200px; top:225px;}
75%  {left:200px; top:185px;}
100% {left:160px; top:225px;}
}
.home-team .player.eight{
  animation-name:eight;
}
@keyframes eight
{
0%   {left:160px; top:145px;}
25%  {left:200px; top:185px;}
50%  {left:200px; top:145px;}
75%  {left:200px; top:105px;}
100% {left:160px; top:145px;}
}

/*/////////////////////////////////// CARROUSSEL /////////////////////////// //////////////////////////////////////////////*/


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;

  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}
/*
.carousel__slide:nth-child(even) {
  background-color: #99f;
}*/

.carousel__slide:before {
  /*content: counter(item);*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.imgarticle1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pcategories{
  position:relative;  
  top: 110px;
}

.container {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-top: 50px;
}

img {
	max-width: 100%;
 
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 50px;
}

li {
	font-size: 24px;
	line-height: 1.5;
}
